.button-grey {
	background-color: #f3f1ee;
	color:#99b19c;
	border-radius: 3px;
	padding: 10px;
	font-weight:bold;
	border: 1px solid #d7d1c9;
}

a {
	text-decoration: none;
}

a:hover {
  background-color: white;
}